.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}
.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 0 0;
  width: 100%;
}

.card__title {
  color: rgba(33, 33, 33, 1);
  margin: 0;
  font-size: 20px;
  line-height: 1.2; /*line height in pixels divided by font size = 1.2*/
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80%;
}
.card__delete-button {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  background-image: url(../images/delete-icon.svg);
  background-color: transparent;
  object-fit: contain;
  border-style: hidden;
  transition: 0.15s ease-in; /* remove element from document flow
  position top right, z-index? absolute position of card relative position */
}
.card__delete-button:hover {
  background-image: url(../images/delete-icon-hover.svg);
}
.card__like-button {
  background-image: url(../images/like.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  padding: 0;
  color: rgb(33, 33, 33);
  opacity: 0.4;
  transition: opacity 0.15s ease-in;
}
.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}
.card__like-button_liked {
  background-image: url(../images/like-icon-liked.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 1;
}
.card__like-button_liked:hover {
  opacity: 0.4;
}
@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__content {
    max-width: 288px;
  }
  .card__title {
    max-width: 75%; /*clipping like button at 266-288px?*/
    font-size: 16px;
    line-height: 1;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
