.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: opacity 0.5s;
}
.modal_opened {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  max-width: 730px;
  width: 100%;
  box-sizing: border-box; /*box sizing acccounts for the width of the element and the padding as opposed to width + padding creating a larger than intended element*/

  padding: 32px 50px;
  background-color: white;
  margin: auto 355px;
  position: relative;
  border-radius: 8px;
}

.modal__content_type_preview {
  max-width: fit-content;
  padding: 0 0;
  margin: auto 0 auto 0;
  background-color: transparent;
  position: relative;
}

.modal__image {
  width: 100%;
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 8px;
  background-color: transparent;
}

.modal__caption {
  /* margin-right: auto; */
  margin: 0 auto 0 0;
  padding: 4px 8px;
  max-width: max-content;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
}

.modal__caption-title {
  font-family: "Poppins";
  color: #f1f1f1;
  margin: 0;
}

.modal__close-button {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/close-button.svg);
  background-color: transparent;
  border-radius: 8px;
  border-style: none;
  opacity: 0.4;
  padding: 0;
}
.modal__close-button:hover {
  opacity: 1;
}

.modal__close-button_type_preview {
  background-image: url(../images/close-button-lite.svg);
  opacity: 1;
  top: 0;
  right: -42.5px;
  position: absolute;
}

.modal__close-button_type_preview:hover {
  opacity: 0.4;
}

.modal__title {
  margin: 0 0 32px;
  padding: 4px 0; /*32 + 4 + 4 = to button 40w x 40h*/
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}
.modal__form {
  font-weight: 500;
}
.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1; /*17.6 / 16 = 1.1*/
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}
.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

.modal__input_type_error {
  border-color: rgba(255, 0, 0, 0.6);
}

.modal__error_visible {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  font-weight: 500;
  line-height: 1.1;
}

.modal__submit-button {
  width: 156px;
  padding: 18px 32px;
  margin: 0;
  background-color: rgb(33, 33, 33);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  border-style: none;
}
.modal__submit-button:hover {
  opacity: 0.8;
}

.modal__submit-button_disabled {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  .modal__content {
    /* max-width: 300px; this hard-locks container, the container is smoothly transitioning to screen size 320*/
    padding: 12px 12px 12px 12px;
    margin: auto 10px;
  }
  .modal__content_type_preview {
    padding: 0 0;
    margin: auto 0;
  }
  .modal__close-button {
    top: 12px;
    right: 12px;
  }
  .modal__label {
    margin-bottom: 24px;
  }
  .modal__close-button_type_preview {
    top: -42.5px;
    right: 0;
  }
  .modal__title {
    padding: 10px 0;
    font-size: 20px;
    margin: 0 0 24px;
  }
  .modal__input {
    font-size: 16px;
  }
  .modal__submit-button {
    width: 100%;
  }
  .modal__image {
    max-width: none;
  }
}
